body {
    /*color: #555;*/
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    overflow-x: hidden;
}

/*Register Start*/
.main-bg {
    background-image: url("img/covid-bg.jpg");
    background-size: cover;
    height: 850px;
    background-position: left;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
}

.main-title {
    color: white;
    padding: 230px 100px 50px;
}

.register-col {
    padding: 110px 50px;
    background-color: #efefef;
}

.register-form {
    padding-top: 60px;
    color: darkcyan;
    margin: 30px auto;
    width: 70%;
}

.fund-register {
    width: 50%;
}
.register-bg {
    background-color: dimgrey;
    padding: 50px;
}

.btn-sub {
    background-color: darkcyan;
    color: white;
    border: none;
    margin: 30px 140px;
    width: 130px;
    height: 60px;
    border-radius: 35px;
}

.btn-sub:hover {
    background-color: black;
    color: white;
}

/*Register end*/

/*Request Fund start*/

.khalti-banner {
    background-image: url("img/khalti-banner.jpg");
    background-size: cover;
    height: 60vh;
    background-position: center;
}

.title {
    color: white;
    position: relative;
}

.khalti-tag {
    position: absolute;
    top: 60%;
    left: 55%;
    padding-top: 300px;
}
.request-form {
    color: darkcyan;
}

.request-wrapper {
    background-image: url("img/abstract.png");
    background-size: cover;
    background-position: bottom;
    padding: unset;
}

.form-wrapper {
    width: 30%;
    margin: 60px auto;
    border: 1px solid darkcyan;
    padding: 40px;
    background-color: #efefef;
}
/*Request Fund end*/

/*Login Start*/
.login-form {
    width: 70%;
    margin: 40px auto;
}

.login-form .form-group label {
    color: darkcyan;
}

.form-col {
    padding: 50px;
    background-color: #efefef;
    overflow: hidden;
}

.main-title-login {
    margin-top: -15px;
    color: darkcyan;
}

.subtitle-login {
    margin-top: 80px;
}

.btn-sub-login {
    background-color: darkcyan;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin-left: 140px;
}

.btn-sub-login:hover {
    background-color: dimgrey;
    color: white;
}

.login-bg {
    background-image: url("img/covid-prevention.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.main-wrapper {
    padding: unset;
}
/*Login end*/
